.App {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  min-width: 280px;
  min-height: 100vh;
  background: gray;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  min-width: 280px;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.page-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  min-width: 280px;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.landing-page--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 280px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.landing-page--section {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 50%;
  min-width: 280px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.sign-in--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-width: 280px;
}

.sign-in--wrapper button {
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  margin-bottom: 0.5rem;
}

.landing-page--screenshot {
  display: flex;
  width: 100%;
  min-width: 280px;
}

.dashboard--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 280px;
  min-height: 100vh;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.dashboard--greeting {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 280px;
}

.dashboard--greeting-text {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
}

.dashboard--nav {
  display: flex;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

.nav-btn {
  display: flex;
  box-sizing: border-box;
  padding: 4px 12px;
  width: 6rem;
  height: 3rem;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.dashboard--job-tracker {
  display: flex;
  border: 1px solid black;
  width: 80%;
  height: auto;
  min-width: 280px;
  min-height: 280px;
  justify-content: center;
  align-items: center;
}

.dashboard--newsfeed {
  display: flex;
  border: 1px solid black;
  width: 80%;
  height: auto;
  min-width: 280px;
  min-height: 280px;
  justify-content: center;
  align-items: center;
}

.jobs-page--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  min-width: 280px;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.jobs-page--jobs-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 80%;
  min-width: 280px;
  height: 50vh;
}

.jobs-page--jobs-list-header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
}

.jobs-page--jobs-list-main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  height: calc(100% - 2rem);
  align-items: center;
  justify-content: center;
}

.jobs-page--jobs-list ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 280px;
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.job-card--wrapper {
  display: flex;
  box-sizing: border-box;
  background: beige;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.job-card--wrapper--complete {
  display: flex;
  box-sizing: border-box;
  background: purple;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.job-card--link {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 280px;
  min-height: 5rem;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px 12px;
  text-decoration: none;
}

.job-card--btns {
  display: flex;
  text-decoration: none;
}

.job-card--task-control {
  display: flex;
  box-sizing: border-box;
  padding: 4px 12px;
  height: 2rem;
  width: 5rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-decoration: none;
}

.job-card--title {
  display: flex;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bold;
}

.job-card--title-complete {
  display: flex;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: line-through;
}

.job-card--client {
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
}

.job-card--deadline {
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
}

.job-card--deadline-complete {
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: line-through;
}

.add-job--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.add-job--input {
  display: flex;
  width: 75%;
  height: 2rem;
  min-width: 280px;
  font-size: 1.5rem;
  border: none;
}

.add-job--btn {
  display: flex;
  width: 5rem;
  height: 2rem;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 0.5rem;
}

.job-page--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  min-width: 280px;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.job-page--info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 280px;
  align-items: center;
  justify-content: center;
}

.job-page--info-title {
  display: flex;
  box-sizing: border-box;
  margin: 0;
}

.job-page--info-client {
  display: flex;
  box-sizing: border-box;
  margin: 0;
}

.job-page--info-deadline {
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
}

.job-page--info-overview {
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
}

.calendar--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  min-width: 280px;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.calendar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 405px;
  min-height: 75vh;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px 12px;
}

.calendar--list {
  display: flex;
  box-sizing: border-box;
  width: 75%;
  min-width: 405px;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
}

.calendar-btn-box {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: left;
  padding: 4px 12px;
}

.calendar-btn-box button {
  display: flex;
  box-sizing: border-box;
  padding: 4px 12px;
  border: none;
  font-size: 1rem;
}

.add-event-modal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: auto;
  min-width: 280px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.add-event-modal--closed {
  display: none;
}

.add-event-modal button {
  display: flex;
  height: 2rem;
  font-size: 1.5rem;
  padding: 4px 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.add-event-modal p {
  display: flex;
  box-sizing: border-box;
  color: beige;
  font-size: 1.5rem;
}

.add-event-modal--input {
  display: flex;
  width: 25%;
  min-width: 280px;
  height: 2rem;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.selected-event {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  min-width: 280px;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  color: beige;
}

.selected-event--closed {
  display: none;
}

.selected-event--header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 75%;
  height: auto;
  min-width: 280px;
  background: blueviolet;
  padding: 4px 12px;
}

.selected-event--main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 75%;
  height: auto;
  min-width: 280px;
  background: blueviolet;
  padding: 4px 12px;
  align-items: center;
  justify-content: space-between;
}

.selected-event--main button {
  display: flex;
  box-sizing: border-box;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.selected-event--btns {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

@media screen and (min-width: 1000px) {
  .landing-page--description-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-width: 280px;
    justify-content: center;
    align-items: center;
  }

  .landing-page--description-text {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    padding: 1rem;
  }

  .landing-page--screenshot {
    width: 40%;
  }
}
