@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

html {
  /* var(--dark-background)s and Whites */
  --light-background: #f0f3df;
  --dark-background: #232320;
  --light-low-contrast-neutral: #ddded6;
  --dark-low-contrast-neutral: #30302c;
  --light-high-contrast-neutral: var(--dark-background);
  --dark-high-contrast-neutral: var(--light-background);
  --light-high-contrast-muted: var(--dark-low-contrast-neutral);
  --dark-high-contrast-muted: var(--light-low-contrast-neutral);

  /* Denotive Colors */
  --warning: #e82b2b;
  --success: #2be869;
  --light-disabled: #a7a7a7;
  --dark-disabled: #646464;

  /* Interactive Colors */
  --primary-minus2: #23c31f;
  --primary-minus1: #20ae1c;
  --primary: #1d9b1a;
  --primary-plus1: #1a8718;
  --primary-plus2: #177715;
  --primary-accent: #a63c53;

  font-family: "Quicksand", sans-serif;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-background);
}

*::-webkit-scrollbar-thumb {
  background: var(--primary-plus2);
}

.router {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 280px;
  min-height: 100vh;
  background: var(--dark-background);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: Quicksand;
}

.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  min-width: 280px;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
}

.page-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 280px;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.landing-page--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 280px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--dark-background);
  color: var(--light-background);
  align-items: center;
}

.landing-page--wrapper h2 {
  display: flex;
  color: var(--primary);
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.landing-page--section {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 75%;
  height: 50%;
  min-width: 280px;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--dark-high-contrast-muted);
  background: var(--dark-low-contrast-neutral);
}

.sign-in--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-width: 280px;
}

.sign-in--wrapper button {
  display: flex;
  width: 100%;
  height: 2rem;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  margin-bottom: 0.5rem;
  background: var(--primary);
  border: none;
  border-radius: 15px;
  color: var(--dark-background);
  font-size: 1rem;
}

.landing-page--screenshot {
  display: flex;
  width: 100%;
  min-width: 280px;
  max-width: 400px;
}

.dashboard--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  min-width: 280px;
  min-height: 80vh;
  justify-content: flex-start;
  align-items: center;
}

.dashboard--greeting {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  background: var(--dark-background);
  color: var(--primary);
  margin-bottom: 1rem;
}

.dashboard--greeting-text {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.dashboard--greeting-date {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: var(--light-background);
}

.dashboard--nav {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  height: 3rem;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}

.nav-btn {
  display: none;
}

.nav-btn--active {
  display: none;
}
.nav-btn:hover {
  background: var(--primary-plus2);
  color: var(--light-background);
}

.burger-button {
  display: flex;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.MuiList-root {
  background: var(--dark-background);
}

.bm-item {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 4px 12px;
  color: var(--primary-minus2);
  margin-bottom: 12px;
}

.bm-item--active {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 4px 12px;
  color: var(--light-background);
  background: var(--primary);
  margin-bottom: 12px;
}

.dashboard--tracker-title {
  display: flex;
  width: 100%;
  min-width: 280px;
  height: 2rem;
  font-size: 1.5rem;
  color: var(--primary);
  align-items: center;
  justify-content: center;
  margin: 0;
}

.dashboard--newsfeed {
  display: flex;
  box-sizing: border-box;
  border: 1px solid black;
  width: 80%;
  height: auto;
  min-width: 280px;
  min-height: 280px;
  justify-content: center;
  align-items: center;
}

.jobs-page--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 280px;
  min-height: 80vh;
  align-items: center;
}

.jobs-page--title {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  height: 3rem;
  color: var(--primary);
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

.jobs-page--jobs-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  max-width: 1000px;
  min-height: 280px;
  max-height: 500px;
  background: var(--dark-low-contrast-neutral);
  overflow-y: auto;
}

.jobs-page--jobs-list-header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  padding: 4px 12px;
  align-items: center;
  justify-content: left;
}

.jobs-page--jobs-list-main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 90%;
  min-width: 280px;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  list-style: none;
}

.jobs-page--jobs-list-main ul {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
}

.jobs-list--no-jobs {
  color: var(--primary);
}

.job-card--wrapper {
  display: flex;
  box-sizing: border-box;
  width: 90%;
  background: var(--light-background);
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem;
}

.job-card--wrapper--complete {
  display: flex;
  box-sizing: border-box;
  background: var(--dark-background);
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.job-card--link {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 280px;
  min-height: 5rem;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  text-decoration: none;
}

.job-card--header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--dark-background);
}

.job-card--header--item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.job-card--header--item-title {
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: var(--dark-background);
}

.job-card--body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 4px 12px;
  align-items: center;
  justify-content: center;
}

.job-card--body--title {
  display: flex;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: var(--dark-background);
}

.job-card--title {
  display: flex;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-plus2);
  margin: 0;
}

.job-card--title-complete {
  display: flex;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-plus2);
  text-decoration: line-through;
  margin: 0;
}

.job-card--client {
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
  color: var(--dark-background);
  margin: 0;
}

.job-card--deadline {
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
  color: var(--dark-background);
  margin: 0;
}

.job-card--deadline-complete {
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: line-through;
  color: var(--dark-low-contrast-neutral);
  margin: 0;
}

.job-card--btns {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  margin-top: 1rem;
}

.job-card--task-control {
  display: flex;
  box-sizing: border-box;
  width: 6rem;
  height: 1.5rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
  background: var(--primary);
  border: none;
  border-radius: 15px;
  padding: 4px 12px;
}

.add-job--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.add-job--input {
  display: flex;
  width: 75%;
  height: 2rem;
  min-width: 280px;
  font-size: 1.5rem;
  border: none;
  margin-bottom: 12px;
}

.add-job--btn {
  display: flex;
  box-sizing: border-box;
  width: 5rem;
  height: 2rem;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--primary);
}

.add-job--btn:hover {
  background: var(--primary-minus2);
}

.job-page--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 280px;
  min-height: 80vh;
  align-items: center;
  justify-content: space-evenly;
}

.job-page--info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 280px;
  align-items: center;
  justify-content: center;
  color: var(--dark-high-contrast-neutral);
  padding-bottom: 1rem;
}

.job-page--info--primary {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.job-page--info--optional {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.job-page--info--single {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
}

.job-page--info-title {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

.job-page--info-text {
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
}

.job-page--delete-confirm {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: 2rem;
  padding: 4px 12px;
  align-items: center;
  justify-content: center;
}

.job-page--delete-confirm--text-bold {
  font-size: 1rem;
  font-weight: bold;
  color: var(--warning);
}

.job-page--btns {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: 2rem;
  padding: 4px 12px;
  align-items: center;
  justify-content: center;
}

.job-page--btns--button {
  display: flex;
  box-sizing: border-box;
  width: 4rem;
  height: 1.5rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
  background: var(--primary);
  border: none;
  border-radius: 15px;
  text-decoration: none;
  color: var(--dark-background);
  padding: 4px 12px;
}

.job-page--btns--button-link {
  text-decoration: none;
  color: var(--dark-background);
}

.job-page--tasks-header {
  display: flex;
  width: 100%;
  min-width: 280px;
  height: 2rem;
  font-size: 1.5rem;
  color: var(--primary);
  align-items: center;
  justify-content: center;
  margin: 0;
}

.calendar--wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 280px;
  min-height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.calendar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 280px;
  max-width: 1000px;
  align-items: center;
  justify-content: space-evenly;
  margin: 4px 12px 1rem 12px;
  padding: 4px 12px 1rem 12px;
  color: var(--primary);
  background: var(--dark-low-contrast-neutral);
}

.calendar--list {
  display: flex;
  box-sizing: border-box;
  width: 75%;
  min-width: 280px;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  color: var(--primary);
  background: var(--dark-low-contrast-neutral);
  margin-bottom: 1rem;
}

.calendar-btn-box {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: left;
  padding: 4px 12px;
}

.calendar-btn-box button {
  display: flex;
  box-sizing: border-box;
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
  background: var(--primary);
  border: none;
  border-radius: 15px;
  text-decoration: none;
  color: var(--dark-background);
  padding: 4px 12px;
}

.add-event-modal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  min-width: 280px;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.add-event-modal--closed {
  display: none;
}

.add-event-modal p {
  display: flex;
  box-sizing: border-box;
  color: beige;
  font-size: 1.5rem;
}

.add-event-modal--input {
  display: flex;
  box-sizing: border-box;
  width: 25%;
  min-width: 280px;
  height: 2rem;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  background: var(--light-background);
  border: none;
}

.selected-event {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  min-width: 280px;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  color: var(--light-background);
}

.selected-event--closed {
  display: none;
}

.selected-event--header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 20%;
  min-width: 280px;
  background: var(--primary);
  padding: 4px 12px;
  align-items: center;
  justify-content: center;
}

.selected-event--main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  min-width: 280px;
  background: var(--dark-low-contrast-neutral);
  padding: 4px 12px;
  align-items: center;
  justify-content: space-between;
}

.selected-event--date {
  font-size: 1.3rem;
}

.selected-event--detail {
  font-size: 1.3rem;
}

.selected-event--item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.selected-event--main button {
  display: flex;
  box-sizing: border-box;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.selected-event--btns {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.fc {
  z-index: 0;
}

.fc-daygrid-event-harness:hover {
  cursor: pointer;
}

.Modal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 100%;
  min-width: 280px;
  z-index: 100;
  background: var(--dark-background);
  color: var(--light-background);
  align-items: center;
  justify-content: center;
}

.Modal button {
  display: flex;
  box-sizing: border-box;
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  margin: 12px;
  background: var(--primary);
  border: none;
  border-radius: 15px;
  text-decoration: none;
  color: var(--dark-background);
  padding: 4px 12px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.add-job--incomplete-field {
  border: 2px solid var(--warning);
}

.rss-reader {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  max-width: 1000px;
  height: auto;
  min-height: 400px;
  margin-top: 1rem;
  background: var(--dark-low-contrast-neutral);
  align-items: center;
  justify-content: center;
}

.MuiTabs-indicator {
  background-color: var(--dark-background);
}

.rss-reader--header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.rss-reader--input {
  display: flex;
  box-sizing: border-box;
  width: 75%;
  min-width: 280px;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.rss-reader--add {
  display: flex;
  box-sizing: border-box;
  width: 4rem;
  height: 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  background: var(--primary);
}

.rss-reader--add:hover {
  cursor: pointer;
  background: var(--primary-minus2);
}

.rss-reader--articles {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  height: auto;
  justify-content: center;
  align-items: center;
}

.rss-reader--page {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  min-width: 280px;
  height: auto;
  max-height: 100%;
  justify-content: space-evenly;
}

.rss-card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 45%;
  min-width: 280px;
  height: auto;
  max-height: 280px;
  margin: 1rem;
  background: var(--dark-background);
}

.rss-card--content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background: var(--dark-background);
  overflow-y: auto;
  min-height: 100%;
}

.rss-card--title {
  display: flex;
  box-sizing: border-box;
  color: var(--primary);
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.rss-card--snippet {
  display: flex;
  box-sizing: border-box;
  color: var(--light-background);
  align-items: center;
  justify-content: center;
}

.rss-card--date {
  display: flex;
  box-sizing: border-box;
  color: var(--light-background);
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

@media screen and (min-width: 1000px) {
  .landing-page--description-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-width: 280px;
    justify-content: center;
    align-items: center;
  }

  .landing-page--description-text {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    padding: 1rem;
  }

  .landing-page--screenshot {
    width: 40%;
  }

  .dashboard--nav {
    justify-content: center;
  }

  .nav-btn {
    display: flex;
    box-sizing: border-box;
    padding: 4px 12px;
    width: 6rem;
    height: 3rem;
    margin: 0 12px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--light-background);
  }

  .nav-btn--active {
    display: flex;
    box-sizing: border-box;
    padding: 4px 12px;
    width: 6rem;
    height: 3rem;
    margin: 0 12px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--dark-background);
    background: var(--primary);
  }

  .MuiButton-root {
    display: none;
  }

  .burger-button {
    display: none;
  }

  .burger-icon {
    display: none;
  }
}
