.App {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: gray;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1rem;
}

.landing-page--wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 280px;
}

.landing-page--section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.sign-in--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.sign-in--wrapper button {
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  margin-bottom: 0.5rem;
}

.landing-page--screenshot {
  display: flex;
  width: 100%;
}
